{% extends "base.html" %}
{% load static %}


{% block header %}

<title>{{ meta.title }}</title>


    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">


{% endblock %}




{% block content %}
<div class="flexbox menu">
        <div id="menu" class="row" style="padding: 80px 0 0;">
        <div class="col-1 vert-nav">
                        <h1 class="sec-name rotate py-5">
                            Menu
                        </h1>
                    </div>
                    <div class="col-1"></div>
                     


 {% for category in categories %}
<br> <div class="col-3">
<div class="cat-name">{{ category.category }}</div>
    
<br><br>

{% for product in object_list %}
{% ifequal product.category.category  category.category  %}

<div class="p-name">{{ product.name }} </div> 
<div class="text"><p>{{ product.short_description }}</p> {{ product.price}}</div>
<br>

{% endifequal %}
{% endfor %}</div>
{% endfor %}

</div></div>

{% endblock %}
 


{% block footer %}


{{ footer.company_name}}</br>
{{ footer.adress_line_1 }}</br>
{{ footer.telephone }}</br>
{{ footer.email }}</br>

{% endblock %}


